<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Qwackly Email Template</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Hello ' + name}"></p>

<p>
    This is to confirm that the payment of INR <b><span th:text="${orderamount}"></span></b> to Qwackly (www.qwackly.com) has been successfully made.
</p>

<p>
   Please reply to this email with the details, what is the occassion and whom is this wish for and some more details for this request.
</p>

<p>
    The associated orderId and date of purchase are <b><span th:text="${orderid}"></span></b>  and </b><span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span></b> respectively.
</p>

<p>
    You can find <b>your orders</b> by clicking on the link below.
</p>
<p>
    <a href="http://qwackly.in/orderDetails" height="50" width="200">Order Details</a>
</p>
<p>
    Regards, <br />
    <em th:text="${sign}"></em>
</p>
</body>
</html>